*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container{
    height: 100vh;
}

.text-container{
    display: flex;
    justify-content: space-around;
}

#game-area{
    background-color: rgb(243, 121, 160);
    width: 80%;
    height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    justify-items: center;
}

.card{
    width: 130px;
    height: 160px;
    color: black;
    background-color: rgb(185, 245, 225);
    img{
        width: 100%;
        filter: opacity(100%);
    }
}

.turned-over{
    img{
        filter: opacity(0%);
    }
}

.is-a-match{
    border: 2px red solid;
}

#swapping-sign, .game-over-div, .win-div{
    display: none;
}

